.fondo {
    background-color: lightblue;
    width: 480px;
    height: 590px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
}
#contenedor {
    width: 480px;
    height: 400px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
}
.imagen {
    width: 480px;
    height: 400px;
    border-radius: 20px ;
}
#mostrarInformacion {
    background-color: rgb(0, 0, 104);
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #111113;
    border-radius: 15px;
    width: 160px;
    height: 30px;
}
#info {
    font-size: 17px;
    color: #232325;
    bottom: 150px;
    padding-left: 80px;
    padding-right: 80px;
}