#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fondo {
  display: flex;
  flex-direction: row;  
  gap: 40px;
  height: 535px;
  text-align: center;
  margin: auto;
}

.imagen {
  width: 300px;
  height: 300px;
}

.titulo {
  font-size: 50px;
  font-family: sans-serif;
  font-style: italic;
  color: #232325;
  bottom: 150px;
  padding-left: 80px;
  padding-right: 80px;
}

.parrafo {
  font-size: 25px;
  font-style: italic;
  color: #232325;
  margin: 10px;
}

.tarjeta {
  background-color: rgb(192, 51, 145);
  border-radius: 50px;
  width: 400px;
}