.fondo {
    background-color: rgb(192, 51, 145);
    border-radius: 20px;
    text-align: center;
    margin: auto;
}
.imagen {
    border-radius: 315px ;
}
.titulo {
    font-size: 50px;
    font-family: sans-serif;
    font-style: italic;
    color: #232325;
    bottom: 150px;
    padding-left: 80px;
    padding-right: 80px;
}
.parrafo {
    font-size: 25px;
    font-style: italic;
    color: #232325;
    bottom: 150px;
    padding-left: 80px;
    padding-right: 80px;
}